{% extends 'base.html.twig' %}
{% import "/components/macros.html.twig" as macro %}
{% block title %}Hello ArticlesController!{% endblock %}



{% block body %}

<div class="example-wrapper">
    <h1>Hello! ✅</h1>

    <ul>
        {% for article in my_pager %}
            <li><a href="{{ path('article', {slug: article.slug }) }}">{{ article.title }}</a>
                {{ macro.short(article.content) }}</li>

        {% endfor %}
    </ul>

    <div class="pagerfanta">
        {{ pagerfanta(my_pager) }}
    </div>

    <p><a href="{{ path('about') }}">O nas</a></p>
</div>
{% endblock %}
